<app-navigation></app-navigation>

<div class="container p-5">
  <div class="shop-body">
    <div class="row my-3 pe-auto">
      <div class="col-lg-8">
        <div class="shop-header m-1">
          <h2>Carro (6 productos)</h2>
        </div>
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Producto 1</h5>
            <p class="card-text">Contenido</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <h2>Resumen compra:</h2>
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-6">
                <div class="row">
                  <div class="col-12 p-2">
                    total:
                  </div>
                  <div class="col-12 p-2">
                    Descuento:
                  </div>
                </div>
              </div>
              <div class="col-6">
                <div class="row">
                  <div class="col-12 p-2">
                    {{ total }}
                  </div>
                  <div class="col-12 p-2">
                    $ 1.400.000
                  </div>
                </div>
              </div>
              <div class="shop-button pt-2 w-100 h-100">
                <button style="background-color: #F3DE2C;" class="btn btn-block">Continuar compra</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
