<app-navigation></app-navigation>
<div class="page-body">
  <div class=" mt-4 px-3 father-container">
    <div class="bg">
      <h1>Music Pro</h1>
      <span>Tenemos el instrumento ideal para cada músico y género</span>
      <div class="button-container">
        <button class="primary-button" (click)="goToRegister()">Crear cuenta</button>
        <button class="second-button">Comprar ahora</button>
      </div>
    </div>
  </div>
</div>
<div class="section-cards">
  <div class="row mx-3 my-5">
    <div class="col-sm-4 my-auto mx-auto">
      <div class="card bg-dark text-black h-100">
        <img src="./assets/img/guitar.jpg" alt="electric guitar" class="img-elements-card">
        <div class="card-img-overlay content-card">
          <h5>Guitarras</h5>
          <span>Cuerda</span>
          <a href="">Compra ahora</a>
        </div>
      </div>
    </div>
    <div class="col-sm-4 my-auto mx-auto">
      <div class="col-xs-4">
        <div class="card bg-dark text-black h-200 cards-height">
          <img src="./assets/img/drums.jpg" alt="electric guitar" class="img-elements-card">
          <div class="card-img-overlay content-card">
            <h5>Baterias</h5>
            <span>Percusion</span>
            <a href="">Compra ahora</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-4 my-auto mx-auto">
      <div class="col-xs-4">
        <div class="card bg-dark text-black h-100">
          <img src="./assets/img/amplifiers.jpg" alt="electric guitar" class="img-elements-card">
          <div class="card-img-overlay content-card">
            <h5>Caja</h5>
            <span>Amplificadores</span>
            <a href="">Compra ahora</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-4 my-2 mx-auto">
      <div class="col-xs-4">
        <div class="card bg-dark text-black h-100">
          <img src="./assets/img/personWithGuitar.jpg" alt="electric guitar" class="img-elements-card">
          <div class="card-img-overlay content-card">
            <h5>Llevate un descuento por compras arriba de 4 productos</h5>
            <span>Oferta</span>
            <a href="">Compra ahora</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-8 mx-auto my-auto">
      <div class="col-xs-4">
        <div class="card bg-dark text-black h-100">
          <img src="./assets/img/headphones.jpg" alt="electric guitar" class="img-elements-card">
          <div class="card-img-overlay content-card">
            <h5>Audifonos</h5>
            <span>Accesorios varios</span>
            <a href="">Compra ahora</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section-products">
    <h1 class="title-section-products">Productos</h1>
    <div class="products">
      <!--Products-->
    </div>
  </div>
</div>
<!--End page body -->
