<!--NAVBAR-->
<nav class="navbar navbar-expand-sm navbar-light text-navbar" style="background-color: #F3DE2C;">
  <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
    <li class="nav-item active">
      <a class="nav-link bold" href="#">Cuerda <span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item active">
      <a class="nav-link bold" href="#">Percusion</a>
    </li>
    <li class="nav-item active">
      <a href="" class="nav-link bold">Amplificadres</a>
    </li>
    <li class="nav-item active">
      <a href="" class="nav-link bold">Accesorios</a>
    </li>
  </ul>
  <div class="row">
    <div class="container col-md-12 ml-auto">
      <ul class="navbar-nav">
        <div class="row container">
          <div class="container col-md-2">
            <li class="nav-item text-white">
              <button class="btn"><img src="./assets/icons/shopping.png" alt="" class="icons_nav"
                  (click)="goToShoppingCart()"></button>
            </li>
          </div>
          <div class="container col-md-2">
            <li class="nav-item">
              <button class="btn"><img src="./assets/icons/user.png" alt="" class="icons_nav"
                  (click)="goToLogin()"></button>
            </li>
          </div>
          <div class="container-fluid col-md-2">
            <li class="nav-item">
              <button class="btn"><img src="./assets/icons/language.png" alt="" class="icons_nav"></button>
            </li>
          </div>
        </div>
      </ul>
    </div>
  </div>
</nav>
<!--END NAVBAR-->
